#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS=--install-lib=/usr/share/nvpy/

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -rf debian/nvpy/usr/share/nvpy/*.egg-info
	chmod +x debian/nvpy/usr/share/nvpy/nvpy/nvpy.py
	cd debian/nvpy/usr/share/nvpy/nvpy && \
		rm -f icons/nvpy.ico icons/README.md nvpy-example.cfg
